.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1,h2,h3,p{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

address{
    font-style: normal;
}

.features,
.team,
.portfolio {
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
.features,
.team,
.portfolio {
    padding: 120px 0;
  }
}

.features-headline,
.portfolio-headline,
.team-headline{
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.features-subtitle,
.portfolio-subtitle,
.team-subtitle{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.container{
    width: 100%;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}