.footer-link{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    margin-bottom: 16px;
    display: block;
}

.footer-link .accent{
    color: #4d5ae5;
}

.footer{
    background: #2e2f42;
    padding: 100px 0;
}

.footer-text{
    color: #f4f4fd;
}

.footer .container{
    display: flex;
    align-items: flex-start;
}

.footer-content{
    margin-right: 120px;
    max-width: 264px;
}

.media-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-socials{
    margin-right: 83px;
}

.media-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.media-link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover, 
.media-link:focus{
    background-color: #31d0aa;
}

.media-icon{
    fill: #f4f4fd;
}

.subscribe {
}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 24px;
}

.footer-form-wrapper {
    
}

.footer-form-field {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    background: transparent;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-field:focus {
    border-color: #31d0aa;
}

.footer-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    max-width: 165px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-icon {
    color: #fff;
}

.footer-form-field::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-form-btn:hover, 
.footer-form-btn:focus {
    background-color: #31d0aa;
}