.team {
    background: #f4f4fd;
}

.team-headline {
    text-align: center;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
.team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

@media only screen and (min-width: 1158px) {
.team-list {
    align-items: flex-start;
    gap: 24px;
  }
}

.team-subtitle {
    text-align: center;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-item {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-content {
    padding: 32px 16px;
}

.team-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
    background-color: #404bbf;
}

.socials-icon {
    fill: #f4f4fd;
}